<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="outofstock" frontName="out_of_stock">
            <module name="Delovunity_OutOfStock" />
        </route>
        <route id="my_account_outofstock" frontName="my_account_out_of_stock">
            <module name="Delovunity_OutOfStock" />
        </route>
    </router>
</config>
